.CustomInput {
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    /* width: 95%; */
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    background-color: #F1F4FC;
    direction: rtl;
}

.citypro{
    gap:1vw;
}

@media(max-width:720px) {
    .citypro{
        gap: 3vw;
    }
}