@import "tailwindcss";

@layer utilities {
  /* add your neo related styles here: 
  use neo at the beginning to show that these are neo styles */
  .neo-card {
    @apply shadow-[-4px_-4px_10px_rgba(255,255,255,1),2px_2px_5px_rgba(0,0,0,0.3)];
  }

  .neo-card-rev {
    @apply shadow-[inset_-3px_-3px_5px_rgba(255,255,255,0.7),inset_2px_2px_3px_rgba(0,0,0,0.3)];
  }

 .neo-card-rev-lg {
    @apply shadow-[inset_-6px_-6px_7px_rgba(255,255,255,0.7),inset_4px_4px_6px_rgba(0,0,0,0.3)];
  }

  .neo-btn {
    @apply rounded-md cursor-pointer shadow-[-4px_-4px_10px_rgba(255,255,255,1),2px_2px_5px_rgba(0,0,0,0.3)] duration-300 hover:shadow-[-8px_-8px_20px_rgba(255,255,255,1),4px_4px_10px_rgba(0,0,0,0.3)] active:shadow-[inset_-4px_-4px_10px_rgba(255,255,255,0.5),inset_1px_1px_3px_rgba(0,0,0,0.2)];
  }
  .neo-btn-active {
    @apply rounded-md cursor-pointer shadow-[inset_-4px_-4px_10px_rgba(255,255,255,0.5),inset_1px_1px_3px_rgba(0,0,0,0.2)];
  }

  .neo-oval {
    @apply rounded-full shadow-[-1px_-1px_3px_rgba(255,255,255,1),1.5px_1.5px_3px_rgba(0,0,0,0.3)];
  }
}
