.button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    color: #FFA500;
    font-size: 1.25rem; 
    font-weight: 600; 
    gap: 0.5rem; 
    padding: 0.75rem; 
    width: 100%;
    justify-self: center;
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
  }
  
  .button:hover {
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 1), 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .button:active {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5), inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  }