
.topic{
    font-weight:bolder;
    font-size:30px;
}

.link{
    @apply hover:underline;
    color:#2979FF;
    cursor:pointer;
}

.loginText{
    @apply flex flex-row justify-end;
    margin-top: 20px;
    gap:4px;
    font-size:16px;
}

.ruleText{
    @apply flex flex-row justify-end;
    margin-top:15px;
    gap:4px;
    font-size:16px;
    margin-left:auto;
    margin-right:25px;
}





.card{
    @apply w-1/3 h-auto flex flex-col justify-center items-center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    background-color:#F1F4FC;
    border-radius:15px; 
    padding: 1.8rem;
}



@media (max-width: 600px) {
    .card {
      flex-direction: column;
      align-items: center;
      width: 90%;
    }}

.wholePage{
    @apply flex justify-center items-center h-screen;
}

.leftIconButton{
    @apply flex flex-row justify-center ;
    gap: 7px;
}

