.ce-block__content
{
    max-width: 60vw;
}
.ce-toolbar__content
{
    max-width: 60vw;
}
/* Make EditorJS content full width */
#editorjs .ce-block__content,
#editorjs .ce-toolbar__content {
  max-width: 90% !important;
  width: 90% !important;
}

#editorjs .ce-paragraph,
#editorjs .ce-header,
#editorjs .ce-list {
  width: 100%;
}


h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}