@font-face {
    font-family: 'Vazir';
    src: url('../public/fonts/vazir/Vazir.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Optional: Ensures text is visible while the font loads */
  }
  
  body {
    font-family: 'Vazir', sans-serif;
  }